<nav id="menu" class="nav nav-masthead">
            <li><%= link_to "Home", root_path, class: 'nav-link' %></li>
			<li><%= link_to "About", about_path, class: 'nav-link' %></li>
			<li><%= link_to "Post",posts_path, class: 'nav-link' %></li>
			<li><%= link_to "Managers", portfolios_path, class: 'nav-link' %></li>
			<li><%= link_to "Events", events_path, class: 'nav-link' %></li>
			<li><%= link_to "Advertise", advertise_path, class: 'nav-link' %></li>
			<li><%= link_to "Contact",contact_path, class: 'nav-link' %></li>
			<%= login_helper 'nav-link' %> 
</nav>
