<div id="logo">
		<h1><a href="#">Engineering Conference</a></h1>
		<p>Global Platform for Engineering Conference</p></div>
		<div class="masthead clearfix">
		 <div class="inner">
          <h3 class="masthead-brand"></h3>		
		   <nav id="menu" class="nav nav-masthead">
		    <li><%= link_to "Home", root_path, class: 'nav-link' %></li>
			<li><%= link_to "About", about_path, class: 'nav-link' %></li>
			<li><%= link_to "Post",posts_path, class: 'nav-link' %></li>
			<li><%= link_to "Managers", portfolios_path, class: 'nav-link' %></li>
			<li><%= link_to "Event", event_path, class: 'nav-link' %></li>
			<li><%= link_to "Advertise", advertise_path, class: 'nav-link' %></li>
			<li><%= link_to "Contact",contact_path, class: 'nav-link' %></li>
		</nav>
     </div>
</div>	