<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :theme %>
    <%= form.text_field :theme, id: :post_theme %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body %>
  </div>
                                                        
  <div class="field">                                  
    <%= form.label :timings %>
    <%= form.text_area :timings, id: :post_timings %>
  </div>
  
  <div class="field">
    <%= form.label :fees %>
    <%= form.text_area :fees, id: :post_fees %>
  </div>
  
  <div class="field">
    <%= form.label :footfall %>
    <%= form.text_area :footfall, id: :post_footfall %>
  </div>
  
  
  <div class="field">
    <%= form.label :editions %>
    <%= form.text_area :editions, id: :post_editions %>
  </div>
  
  <div class="field">
    <%= form.label :contact %>
    <%= form.text_area :contact, id: :post_contact %>
  </div>
  
  <div class="field">
    <%= form.label :organizer %>
    <%= form.text_area :organizer, id: :post_organizer %>
  </div> 

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_area :venue, id: :post_venue %>
  </div> 
  
  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :post_category_id %>
  </div> 
  
   <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
