<div class="card bg-dark text-white">
 <%= image_tag @post.main_image %>
  <div class="card-img-overlay">
  <h2 class="card-title"><%= @post.theme %></h2>
  <ul>
  <li>
   <span class="glyphicon glyphicon-map-marker"><h5 class="card-title"><%= @post.period %></h5></span>
  
   
  </li>
  <li>
  <h5 class="card-title"><%= @post.venue %></h5>
  </li>
  </ul>
  </div>
</div>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<hr>


<div class="card text-center">
  <div class="card-header">Featured</div>
     <div class="card-group">
       <div class="card border-light mb-3" style="max-width: 30rem;">
         <div class="card-header">FEES</div>
           <div class="card-body">
		    <p class="card-text" align =center><%= @post.fees %></p>
          </div>
         </div>
		 <hr>
          <div class="card border-light mb-3" style="max-width: 30rem;">
          <div class="card-header" align=center>TIMINGS</div>
             <div class="card-body">
             <p class="card-text" align =center><%= @post.timings %></p>
          </div>
         </div>
		 <hr>
		 <div class="card border-light mb-3" style="max-width: 30rem;">
          <div class="card-header" align=center>FOOTFALL</div>
             <div class="card-body">
              <p class="card-text" align =center><%= @post.footfall %></p>
          </div>
         </div>
		 </div>
        <div class="card-footer text-muted">
    </div>
</div>
  <hr>
 
 <div class="card text-center">
  <div class="card-header">Featured</div>
     <div class="card-group">
       <div class="card border-light mb-3" style="max-width: 30rem;">
         <div class="card-header">EDITIONS</div>
           <div class="card-body">
             <p class="card-text" align =center><%= @post.editions %></p>
          </div>
         </div>
		 <hr>
          <div class="card border-light mb-3" style="max-width: 30rem;">
          <div class="card-header" align=center>CONTACT</div>
             <div class="card-body">
             <p class="card-text" align =center><%= @post.contact %></p>
          </div>
         </div>
		 <hr>
		 <div class="card border-light mb-3" style="max-width: 30rem;">
          <div class="card-header" align=center>ORGANIZER</div>
             <div class="card-body">
              <p class="card-text" align =center><%= @post.organizer %></p>
          </div>
         </div>
		 </div>
        <div class="card-footer text-muted">
     </div>
  </div>	

   
<%= link_to 'Edit', edit_post_path(@post) if logged_in?(:site_admin) %> |

 <%= link_to '<button type="button">New Post</button>'.html_safe, new_post_path if logged_in?(:site_admin) %>
 