<%= render "shared/header_nav" %>
<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
				<div class="flash-message">
				<% flash.each do |key,value| %>
				<p><%= value %></p>
				<% end %>
				</div>
				<%= yield %><!--main view-->
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<%= render "shared/sidebar_nav" %>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		 <%= render "shared/application_footer" %> 
		 <%= source_helper("application") %>

	</div>
</div>
<!-- end #footer -->
</body>
</body>
</html>


